# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
# Creating a path 
path= r'C:\Users\amore\Documents\Data Analyst course\Data Immersion\Achievement 4_python\Instacard_basket_analysis_29_01_2023'

In [3]:
# Importing dataframe
df_def=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged_update.pkl'))

# 03. Task 4.8

**Q2. Create the aggregated mean if the "order number column" grouped by "deparment id for the entire dataframe**

In [4]:
# Grouping and aggregating data
df_def.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

**Q3. How do the results for the entire dataframe differ from those of the subset?**
The means vary slightly compared to the previously used subset. Given that the subset was only a sample and this could be considered a population (all the avaiable data is being analyzed) the results of this analysis could be considered more reliable and truthful

**Q4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transfomr and loc functions**

In [5]:
# Agreggating data with transform to know the number of orders of each user
df_def['max_order'] = df_def.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
#checking results
df_def.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,...,days_since_prior_order,First purchase,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,3.0,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,20.0,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,6.0,False,20,0,both,Mid-range product,Busiest day,Busiest days,average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,NaN,True,10,0,both,Mid-range product,Regularly busy,least busy days,most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,9.0,False,11,1,both,Mid-range product,least busy,least busy days,average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,...,26.0,False,7,0,both,Mid-range product,Regularly busy,Busiest days,average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,...,30.0,False,2,0,both,Mid-range product,Regularly busy,Regularly busy,most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,...,30.0,False,1,0,both,Mid-range product,Regularly busy,least busy days,most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,...,19.0,False,1,0,both,Mid-range product,Regularly busy,Busiest days,average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,...,15.0,False,2,1,both,Mid-range product,Regularly busy,Busiest days,most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,5,...,NaN,True,1,0,both,Mid-range product,Regularly busy,Regularly busy,most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,...,7.0,False,1,0,both,Mid-range product,Regularly busy,least busy days,most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,...,7.0,False,3,1,both,Mid-range product,least busy,least busy days,most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,...,12.0,False,4,1,both,Mid-range product,Regularly busy,Regularly busy,most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,...,2.0,False,8,0,both,Mid-range product,Regularly busy,least busy days,most orders,13

In [7]:
#creating the loyalty flags
df_def.loc[df_def['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [8]:
df_def.loc[(df_def['max_order'] <= 40) & (df_def['max_order'] > 10 ),'loyalty_flag'] = 'Regular customer'

In [9]:
df_def.loc[df_def['max_order']<=10 , 'loyalty_flag'] = 'New customer'

In [10]:
#checking the results 
df_def['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [11]:
#Checking the results
df_def[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1

**Q5. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal customer, Regular Customer and New Customer) What you're trying to determine is wheter the prices of products purchased by loyal customers differ from those purchased by regular or new customers**

In [12]:
df_def.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

**Q6. Create a spending flag for each user based on the average price across all their orders using the following criteria:
 If the mean of the prices of products purchased by a user is lower than 10, the flag them as a "Low spender"
 IF the mean of the prices of products purchased by a user is higher or equal to 10, then flag them as "High Spender"**

In [13]:
# Agreggating an "average price" column with transform function
df_def['average_price'] = df_def.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
# Creating the spending flags
df_def.loc[df_def['average_price'] < 10, 'spending_flag'] = 'Low Spender'

In [15]:
df_def.loc[df_def['average_price'] >= 10, 'spending_flag'] = 'High Spender'

In [16]:
#chechking the results
df_def['spending_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: spending_flag, dtype: int64

In [17]:
df_def[['user_id', 'spending_flag', 'average_price']].tail(60)

          user_id spending_flag  average_price
32404799    85108   Low Spender       8.306849
32404800    85942   Low Spender       7.550000
32404801    87400   Low Spender       7.759459
32404802    90220   Low Spender       8.007588
32404803    96470   Low Spender       7.589600
32404804   100859   Low Spender       9.087755
32404805   102119   Low Spender       7.251662
32404806   104922   Low Spender       6.976250
32404807   107690   Low Spender       7.778632
32404808   109403   Low Spender       7.006757
32404809   111542   Low Spender       7.615238
32404810   114963  High Spender     397.793370
32404811   118871   Low Spender       7.241190
32404812   121646  High Spender      10.022764
32404813   124944   Low Spender       8.400000
32404814   128148   Low Spender       7.705316
32404815   128148   Low Spender       7.705316
32404816   128930   Low Spender       7.524390
32404817   128930   Low Spender       7.524390
32404818   129901   Low Spender       8.694872
32404819   142639   Low Spender       9.872881
32404820   144914   Low Spender       8.062232
32404821   145111   Low Spender       8.177328
32404822   145526  High Spender      76.089009
32404823   145732   Low Spender       7.681667
32404824   146323   Low Spender       8.740690
32404825   151977   Low Spender       8.110390
32404826   153612   Low Spender       9.400000
32404827   157883   Low Spender       7.450000
32404828   159099   Low Spender       7.663559
32404829   159487   Low Spender       9.092424
32404830   159487   Low Spender       9.092424
32404831   159487   Low Spender       9.092424
32404832   159487   Low Spender       9.092424
32404833   159638   Low Spender       7.869811
32404834   163632   Low Spender       8.890000
32404835   163632   Low Spender       8.890000
32404836   164453   Low Spender       7.287013
32404837   166038   Low Spender       7.612409
32404838   166038   Low Spender       7.612409
32404839   166213   Low Spender       7.473913
32404840   171743   Low Spender       6.991949
32404841   172262   Low Spender       8.036585
32404842   176942   Low Spender       7.831250
32404843   178693   Low Spender       8.360085
32404844   178752   Low Spender       8.643223
32404845   178752   Low Spender       8.643223
32404846   182948   Low Spender       7.306667
32404847   182948   Low Spender       7.306667
32404848   183548   Low Spender       8.340659
32404849   184081   Low Spender       7.684426
32404850   187523   Low Spender       7.812676
32404851   188073   Low Spender       6.058416
32404852   188073   Low Spender       6.058416
32404853   197371   Low Spender       8.814508
32404854   200215   Low Spender       8.220313
32404855   200377   Low Spender       7.364516
32404856   200873   Low Spender       8.500344
32404857   200873   Low Spender       8.500344
32404858   205926   Low Spender       8.133333

**Q7. Create an order frequency flag that marks the regularity of a user's ordering behavior according to the median in the "days_since_prior_order" column. The criteria for the flag should be as follows**: 

1. If the median is higher than 20, then the customer should be labeled a "Non-frequent customer"
2. If the median is higher than 10 and lower or equal to 20, then the customer should be labeled a "Regular customer"
3. If the median is lower than or equal to 10, then the customer should be labeled a "Frequent customer".

In [18]:
# Agreggating an "order_frequency column" with transform function
df_def['order_frequency'] = df_def.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [19]:
# Creating the frequency flag
df_def.loc[df_def['order_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [20]:
df_def.loc[(df_def['order_frequency'] <=20 ) & (df_def['order_frequency'] > 10),'frequency_flag'] = 'Regular customer'

In [21]:
df_def.loc[df_def['order_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [22]:
df_def['frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [23]:
df_def[['user_id', 'order_frequency', 'frequency_flag']].head(40)

    user_id  order_frequency         frequency_flag
0       138              8.0      Frequent customer
1       138              8.0      Frequent customer
2       709              8.0      Frequent customer
3       764              9.0      Frequent customer
4       764              9.0      Frequent customer
5       777             11.0       Regular customer
6       825             20.0       Regular customer
7       910              6.0      Frequent customer
8      1052             10.0      Frequent customer
9      1052             10.0      Frequent customer
10     1379             20.0       Regular customer
11     1480              7.0      Frequent customer
12     1480              7.0      Frequent customer
13     1480              7.0      Frequent customer
14     1494              7.0      Frequent customer
15     1494              7.0      Frequent customer
16     1494              7.0      Frequent customer
17     1540              7.0      Frequent customer
18     1540              7.0      Frequent customer
19     1540              7.0      Frequent customer
20     1540              7.0      Frequent customer
21     1540              7.0      Frequent customer
22     1540              7.0      Frequent customer
23     1540              7.0      Frequent customer
24     1540              7.0      Frequent customer
25     1540              7.0      Frequent customer
26     1540              7.0      Frequent customer
27     1540              7.0      Frequent customer
28     1540              7.0      Frequent customer
29     1540              7.0      Frequent customer
30     1540              7.0      Frequent customer
31     1540              7.0      Frequent customer
32     1540              7.0      Frequent customer
33     1540              7.0      Frequent customer
34     1598              2.0      Frequent customer
35     1598              2.0      Frequent customer
36     1598              2.0      Frequent customer
37     1647             25.0  Non-frequent customer
38     1647             25.0  Non-frequent customer
39     1647             25.0  Non-frequent customer

**Q9. Export your dataframe as a pickle file and store it correctly in your "Prepared Data"**

In [24]:
df_def.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_update_2.pkl'))